body 
{
    background: black;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
header {
    display: flex;
    justify-content: center;
    font-family: 'Acme',sans-serif;
    background: #70697B;
    font-size: 20px;
}
h2{ 
    align-content: center;
    color: #DAEFF6;
    font-family: 'Acme',sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0; 
}
button {
    font-size: 20px;
    background: #00A98B;
    border: 4px #FFC871;
    color: #FEFEDF;
    min-width: 15vw;
}
.background-image {
    display: flex;
}
.road {
    width: 100vw;
    height: 80vh;
    background-image: url('road.png');
    background-size: cover;
    margin: 0 auto;
    position: relative;

}
/* when I try to change this to kebab case, it breaks the code*/
.playerCar {
    position: absolute;
    opacity:1;
    transition: all 0.1s;
    background-image: url('purpleCar.png');
    background-size: contain;
    height: 90px;
    width: 45px;
    background-repeat: no-repeat;
}
.blue-car{
    height: 90px;
    width: 45px;
    background-image: url('blueCar.png'); 
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}
.white-car {
    height: 90px;
    width: 45px;
    background-image: url('whiteCar.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}
.green-car {
    height: 90px;
    width: 45px;
    background-image: url('greenCar.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}
.red-car {
    height: 90px;
    width: 45px;
    background-image: url('redCar.png');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.timer{
    color: pink;
    font-size: 50px;
    align-self: center;

}
.restart{
    height : 8vh;
}
footer {
    min-height: 10vh;
    background: #70697B;

}
@keyframes blink{
    50%{
        opacity:0
    }
}
.ten{
    animation: blink 1s linear infinite;
}