body {
    background: black;
}

header {
    display: flex;
    justify-content: space-between;
    background: lightgoldenrodyellow;
    font-size: 30px;
}

button {
    font-size: 20px;
    background: lightgreen;
    border: 4px red solid;
    min-width: 15vw;
}

.backgroundImage {
    display: flex;
    justify-content: center
}

.road {
    width: 100vw;
    height: 80vh;
    background-image: url('road.png');
    background-size: cover;
    margin: 0 auto;
    position: relative;
    opacity: 1;
}

.playerCar {
    position: absolute;
    opacity:1;
    transition: all 0.1s;
    background-image: url('car.png');
    height: 20vh;
    width: 10vw;
}
/* .playerCarPic{
    height: 20vh;
    width: 15vw;
} */
.obstacleCar{
    height: 20vh;
    width: 20vw;
    background-image: url('blue-car.png'); 
    position: relative;
}
img {
    height: 80vh;
    width: 100vw;
}

.footercontainer {
    display: flex;
    align-items: flex-end;
}

footer {
    align-items: flex-end;
    min-height: 7vh;
    background: lightgoldenrodyellow;
}